/* 
COLORS:
-------------------------
Blue #002244
Green #69BE28
Grey #A5ACAF

FONTS:
-------------------------
Cursive:  font-family: 'Playball', cursive;

Light Sans-Serif: font-family: 'Poiret One', cursive;

Bold Sans-Serif: font-family: 'Crushed', cursive;

IMAGES:
-------------------------
portfolio
- - - - - - 
jurassicworld.jpg
upallnight.jpg
ironman.jpg
msmarvel.jpg
history.jpg
ewupattern.jpg
typography.jpg
businesslogo.jpg
mouselogo.jpg
typecrimes.jpg
addict.jpg
miley.jpg
turtle.jpg
 
profile
- - - - - -
ryan.jpg
*/
 


.profile {
    width: 30%;
}

h1,
h2 {
    font-family: 'Cedarville Cursive', cursive;
}

p {
    font-family: 'Waiting for the Sunrise', cursive;
}