/* 
COLORS:
-------------------------
Blue #002244
Green #69BE28
Grey #A5ACAF

FONTS:
-------------------------
body: font-family: 'Open Sans', sans-serif;

IMAGES:
-------------------------
portfolio
- - - - - - 
jurassicworld.jpg
upallnight.jpg
ironman.jpg
msmarvel.jpg
history.jpg
ewupattern.jpg
typography.jpg
businesslogo.jpg
mouselogo.jpg
typecrimes.jpg
addict.jpg
miley.jpg
turtle.jpg
 
profile
- - - - - -
ryan.jpg
*/

